.user-list-form {
	border: 5px black;
	border-radius: 12px;
	background-color: #f3f3f3;
	margin: 16px 40px;
	padding: 8px 20px;
	font-size: 16px;
}

.user-data {
	padding: 4px 0px;
}

.detail-link {
	color: #4b51ef;
	font-size: 16px;
	text-decoration: none;
	float: right;
}

.title {
	color: #a3a3a3;
	margin-right: 8px;
}

.data {
	color: black;
}
